.wc-block-components-payment-method-icons .wc-block-components-payment-method-icon {
    max-width: 128px !important;
}
#save_card input.wc-block-components-checkbox__input:disabled ~ * {
    opacity: 0.5;
    pointer-events: none;
}
#paysafe-hosted-google-pay-payment-form #paysafe-google-pay {
    margin: 0 auto;
}
